.content{
  margin-top: 56px;
  margin-bottom: 5em;
}

.form-label {
  font-size: 13px;
  margin-bottom: 0px
}
.form-label::after{
  content:"*";
  color:red;
}
.btn-primary:hover{
  background-color: red;
  border-color: red;
  /* outline-color: red;   */
}

h6{
  text-align: left;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

div .container .col-lg {
  text-align: left;
  padding: 2px 1px 0px 0px;
}

.table .thead-dark th {
  font-size: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/* Added styling for accordions */
.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-body {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

/* added side-heading style */
.side-heading {
  display: flex;
  align-items: center;
  padding: 7px;
  background-color: #06304e; /* Set your desired background color */
  color: #fff; /* Set the text color to contrast with the background */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  margin-top: 30px;
}
.side-heading h3 {
  margin: 0;
  font-size: 1.5em;
}
.beginning-header {
  margin-top: 80px;
}

body {
  background-color: #F1F1F1;
}

.table-responsive {
  margin-top: 25px;
}